<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>span style="font-family:comic sans ms,cursive;"><span style="color:#FF0000;">Djan</span>-gi-<span style="color:#DAA520;">yo</span></title>
</head>
<body background="static\img\bg.jpg">
<h1 style="text-align: center;">Welcome to Django-Yo</h1>

<form method="post"  role="form" action="/">
{% csrf_token %}
<input type="text" name="username" placeholder="User">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="login" />
</form>

<p>No account?  <a href="{% url 'signup' %}">Sign Up !</a> </p>
</body>
</html>
